/* Based up on: Sticky Footer by Ryan Fait / http://ryanfait.com/ */

@import url("./lesshat.less");

* {
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

p {
    padding: 25px 50px;
}

#content {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto 0; /* the bottom margin is the negative value of the footer's and header's height */
	
	width: 500px;
}

ul.navigation {
    list-style: none;
    margin: 0px auto;
    display: table;
}

ul.navigation li {
    display: table-cell;
}

ul.navigation li a {
    margin: 0px 20px;
    padding: 3px 10px;
    border: 1px solid #555;
    border-radius: 5px;
    text-decoration: none;
    color: #555;
    
    .background-image(linear-gradient(to bottom, #DDDDDD 0%,#A5A5A5 100%));
    .box-shadow(0px 0px 5px #fff);
}

ul.navigation li a:hover {
    
    border-color: #2D4194;
    .background-image(linear-gradient(to bottom, #A5A5A5 0%,#DDDDDD 100%));
    .box-shadow(inset 0px 0px 3px #555);
}

/* ************************************************************************
    COMMON DEFINITIONS FOR STICKY HEADER AND FOOTER
************************************************************************ */

.stickyDefinition(@base-color, @shadow) {

    @normal-color: desaturate(lighten(@base-color, 20%), 50%);

    width: 100%;
    color: #fff;
    background: @normal-color;
    transition: all ease-in-out 500ms;

    &.sticky {
        background: fadeout(@base-color, 20%);
        position: fixed;
        .box-shadow(none);
    }
    
    &, &.sticky:hover {
        .box-shadow(@shadow);
    }

    &.sticky:hover {
        background: @normal-color;
    }
    
    & div.visibleSticky,
    &.sticky:hover div.visibleSticky,
    &.sticky .content {
        opacity: 0;
    }
    
    &.sticky div.visibleSticky,
    &.sticky:hover .content {
        opacity: 1;
    }

    & .content {
        opacity: 1;
        padding: 25px 50px;
    }


    &.sticky div.visibleSticky,
    & .content {
        transition: all ease-in-out 500ms;
    }

    & div.visibleSticky {
        text-align: right;
        padding: 3px 10px;
    }
    
}

/* ************************************************************************
    HEADER DEFINITIONS
************************************************************************ */

@header-color: rgb(5,126,55);
header {

    top: -100%;

    .stickyDefinition(@header-color, ~'0 2px 5px #000');
    &.sticky:hover {
        top: 0 !important;
    }
    
    &.sticky ~ #content {
        margin-top: 0 !important;
    }
}

/* ************************************************************************
    FOOTER DEFINITIONS
************************************************************************ */


@footer-color: rgb(5,55,126);
footer {

    bottom: -100%;

    .stickyDefinition(@footer-color, ~'0 5px 5px -3px #000 inset');
    &.sticky:hover {
        bottom: 0 !important;
    }
}